@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;300&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Bebas Neue', cursive;
  }

.logo2 {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo2 h1{
    display: flex;
    font-size: 6rem;
    margin-bottom: 2vh;
    color: #00ff3c;
    text-shadow: 5px 1px 19px rgba(0, 0, 0, 1);
}

.inicial {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto-botao {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 9vh;
}


.texto-inicial {
  font-size: 4rem;
  margin-left: 5vw;
  text-shadow: 5px 1px 30px rgba(97, 230, 104, 0.5);
}

.palavra-campeao {
  font-size: 10rem;
  margin-left: 5vw;
  color:#00ff3c;
  text-shadow: 5px 1px 19px rgba(0, 0, 0, 1);
}

.palavra-mundial {
  margin-left: 15vw;
  font-size: 4rem;
  text-shadow: 5px 1px 30px rgba(97, 230, 104, 0.5);
}



.botao-conhecer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3vh;
  margin-left: 22vw;
  padding: 20px;
  border-radius: 20px;
  width: 20%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.7);
}

.botao-conhecer:hover{
  background-color: white;
  color:#000;
  transition: 0.5s;
  padding: 25px;
  box-shadow: 0px 1px 20px rgba(97, 230, 104, 1);
}

.imagem-botao {
  margin-right: 0.3vw;
}

.video-inicial {
  margin-left: 3vw;
  margin-top: 5vh;
  border-radius: 50px;

}

.container-valores {
    display: flex;
    flex-direction: row;
}

.container-valores p{
    font-size: 3rem;
}

.logo-loud-background {
  display: flex;
  flex-direction: column;
}

.container-pai {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top: 15vh;
  align-items: center;
}

.imagem-time {
  border-radius: 100px;
  box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.7);
  margin-left: 3vw;
}


.conteudo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.conteudo p{
  font-size: 2rem;
  margin-left: 1vw;
  text-align:justify;
  margin-right: 1vw;
  font-family:sans-serif;
}

.seta-texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seta-texto h1 {
  font-size: 5rem;
}
.seta {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.fundo {
  display: flex;
  width: 100%;
  align-items: center;
  height: 30vh;
}

.logo-grande {
  margin-left: 10vw;
  opacity: 8%;
}

.container-texto-sobre-loud {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.texto-dois {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.texto-dois h1 {
  margin-top: 30vh;
  margin-left: 15vw;
  margin-bottom: 10vh;
  font-size: 5rem;
}

.texto-sobre-loud {
  position: relative;
  top: -50vh;
  width: 100%;
  margin-left: 5vw;
  font-size: 2rem;
  font-family: sans-serif;
  text-align: justify;
}

.icones-loud {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-top: 6vh;
  opacity: 70%;
}

.container-texto-sobre-loud {
  margin-top: 30vh;
  height: 80vh;
}

/* FOOTER */
.container-global-footer {
  display: flex;
  flex-direction: column;
  background-image: url("../Assets/backgrounds/vecteezy_textured-crumpled-black-paper-background_6893584_325.jpg");
  background-size: cover;
  height:30vh;
}

.footer-superior {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.footer-superior img {
  box-shadow: 0px 5px 4px rgb(0, 0, 0);
  padding: 15px;
  cursor: pointer;
}


.footer-inferior {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  height: 50%;
  margin-left: 4vw;
  border-top: 1px #00ff3c solid;
}

.footer-inferior h2 {
  height: 5vh;
  width: 40%;
  text-align: center;
  margin-top: 10vh;
  color:#00ff3c;
  text-shadow: 5px 1px 5px rgba(0, 0, 0, 1);
}




.icones-sociais{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-top: 7vh;
  margin-right: 2vw;
  cursor: pointer;
}

.icones-sociais img{
  margin-left: 3vw;
}
/* FIM DO FOOTER*/

.secao-influencers {
  width: 100%;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.influencers {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.texto-influencers {
  width: 80%;
  font-size: 2rem;
  font-family: sans-serif;
  text-align: justify;
}

/* carrossel influencers*/
.imagens-influencers {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.imagens-influencers img {
  width: 350px;
  height: 500px;
  cursor: pointer;
}

.estilo {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.estilo img {
  border-radius: 10px 10px 0px 0px;
}

.nome-influencer {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  color:#fff;
  border-radius: 0px 0px 20px 20px;
}

.i1 {
  left: 2000px;
  opacity: 0;
  transition: 0.5s;
}


.i2 {
  left: 1490px;
  transition: 0.5s;
}

.i3 {
  left: 1000px;
  transform: scale(120%);
  transition: 0.5s;
}

.i3 img {
  width: 380px;
}


.i4 {
  left: 480px;
  transform: scale(120%);
  transition: 0.5s;
}

.i4 img {
  width: 380px;
}

.i5 {
  left: 20px;
  transition: 0.5s;
}

.i6 {
  left: -700px;
  opacity: 0;
  transition: 0.5s;
}

.i7 {
  opacity: 0;
  transition: 0.5s;
}

.i8 {
  opacity: 0;
  transition: 0.5s;
}

/* Carrossel Influencers*/
.texto-esquerda {
  color: #00ff3c;
  margin-right: 6vw;
  opacity: 15%;
}

.texto-centro {
  position: absolute;
}
.texto-direita {
  color: #00ff3c;
  margin-left: 6vw;
  opacity: 15%;
}
.estilo-texto {
  margin-top: 15vh;
  margin-bottom: 10vh;
  font-size: 5rem;
}
