@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Bebas Neue', cursive;
  }
  
  
  header {
    background-image: url("/Assets/backgrounds/vecteezy_textured-crumpled-black-paper-background_6893584_325.jpg");
    background-size: cover;
    padding: 20px 0;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.70);
  }

  .container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }



  .logo {
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-left: 2vw;
  }

  .Lista {
    display: flex;
  }

  .textos {
    display: Flex;
    list-style: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
  }

  .textos li {
    display: flex;
    margin: 2px 15px;
    color: rgb(16, 231, 44);
    padding: 10px;
    align-items: center;
    transition: 0.6s;
    margin-right: 3vw;
}

.textos li:hover {
    padding: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.7);
  }

.first-main {
    height: 500vh;
    width: 100%;
    background-image: url(./Assets/backgrounds/view-of-white-crumpled-paper.jpg);
    background-size: cover;
}

.logo2 {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo2 h1{
    display: flex;
    font-size: 4rem;
}



.container-valores {
    display: flex;
    flex-direction: row;
}

.container-valores p{
    font-size: 3rem;
}
.video-inicial {
    margin-left: 10vw;
}

