@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;300&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Bebas Neue', cursive;
  }
  
  
  header {
    background-image: url("./Assets/backgrounds/vecteezy_textured-crumpled-black-paper-background_6893584_325.jpg");
    background-size: cover;
    padding: 20px 0;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.70);
    border-bottom: 5px solid #00ff3c;
  }

  .container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-left: 2vw;
  }

  .Lista {
    display: flex;
  }

  .textos {
    display: Flex;
    list-style: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
  }

  .textos li {
    display: flex;
    margin: 2px 15px;
    color: #00ff3c;
    padding: 10px;
    align-items: center;
    transition: 0.6s;
    margin-right: 3vw;
}

.textos li:hover {
    padding: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.7);
  }

.first-main {
    height: 500vh;
    width: 100%;
    background-image: url(./Assets/backgrounds/view-of-white-crumpled-paper.jpg);
    background-size: cover;
}

.logo2 {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo2 h1{
    display: flex;
    font-size: 4rem;
    margin-bottom: 2vh;
    color: #00ff3c;
    text-shadow: 5px 1px 19px rgba(0, 0, 0, 1);
}

.inicial {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto-botao {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 9vh;
}


.texto-inicial {
  font-size: 4rem;
  margin-left: 5vw;
  text-shadow: 5px 1px 30px rgba(97, 230, 104, 0.5);
}

.palavra-campeao {
  font-size: 10rem;
  margin-left: 5vw;
  color:#00ff3c;
  text-shadow: 5px 1px 19px rgba(0, 0, 0, 1);
}

.palavra-mundial {
  margin-left: 15vw;
  font-size: 4rem;
  text-shadow: 5px 1px 30px rgba(97, 230, 104, 0.5);
}



.botao-conhecer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3vh;
  margin-left: 22vw;
  padding: 20px;
  border-radius: 20px;
  width: 20%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.7);
}

.botao-conhecer:hover{
  background-color: white;
  color:#000;
  transition: 0.5s;
  padding: 25px;
  box-shadow: 0px 1px 20px rgba(97, 230, 104, 1);
}

.imagem-botao {
  margin-right: 0.3vw;
}

.video-inicial {
  margin-left: 3vw;
  margin-top: 5vh;
  border-radius: 50px;

}

.container-valores {
    display: flex;
    flex-direction: row;
}

.container-valores p{
    font-size: 3rem;
}

.logo-loud-background {
  display: flex;
  flex-direction: column;
}

.container-pai {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top: 15vh;
  align-items: center;
}

.imagem-time {
  border-radius: 100px;
  box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.7);
  margin-left: 3vw;
}


.conteudo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.conteudo p{
  font-size: 2rem;
  margin-left: 1vw;
  text-align:justify;
  margin-right: 1vw;
  font-family:sans-serif;
}

.seta-texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seta-texto h1 {
  font-size: 5rem;
}
.seta {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.fundo {
  display: flex;
  width: 100%;
  align-items: center;
  height: 30vh;
}

.logo-grande {
  margin-left: 10vw;
  opacity: 8%;
}

.container-texto-sobre-loud {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.texto-dois {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.texto-dois h1 {
  margin-top: 30vh;
  margin-left: 15vw;
  margin-bottom: 10vh;
  font-size: 5rem;
}

.texto-sobre-loud {
  position: relative;
  top: -50vh;
  width: 100%;
  margin-left: 5vw;
  font-size: 2rem;
  font-family: sans-serif;
  text-align: justify;
}

.icones-loud {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-top: 6vh;
  opacity: 70%;
}

.container-global-footer {
  display: flex;
  flex-direction: column;
  background-image: url("./Assets/backgrounds/vecteezy_textured-crumpled-black-paper-background_6893584_325.jpg");
  background-size: cover;
  height:30vh;
}

.footer-superior {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.footer-superior img {
  padding: 15px;
}

.footer-superior img:hover{
  transition: 0.5s;
  box-shadow: 0px 5px 4px rgb(0, 0, 0);
  padding: 15px;
  cursor: pointer;
}


.footer-inferior {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  height: 50%;
  margin-left: 4vw;
  border-top: 1px #00ff3c solid;
}

.footer-inferior h2 {
  height: 5vh;
  width: 40%;
  text-align: center;
  margin-top: 10vh;
  color:#00ff3c;
  text-shadow: 5px 1px 5px rgba(0, 0, 0, 1);
}

.icones-sociais{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-top: 7vh;
  margin-right: 2vw;
  cursor: pointer;
}

.icones-sociais img{
  margin-left: 3vw;
}