@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;300&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-image: url(../Assets/backgrounds/view-of-white-crumpled-paper.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    margin-left: 20vw;
    margin-bottom: 30vh;
    background-color: #ffff;
    width: 50%;
    height: 60vh;
    border-radius: 30px;
    box-shadow: 10px 1px 40px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-quiz {
    margin-top: 7vh;
    font-size: 4rem;
}

.texto-quiz {
    margin-top: 5vh;
    font-size: 2rem;
    text-align:justify;
    width: 35vw;
}

.tentativas {
    margin-top: 6vh;
    font-size: 1.4rem;
}

.conteudo button {
    margin-top: 7.5vh;
    width: 25vw;
    height: 10vh;
    border-radius: 20px;
    border: none;
    background-color: #00ff3c;
    cursor: pointer;
    font-size: 3.5rem;
    font-family: Bebas Neue;
}

.conteudo button:hover {
    background-color: black;
    color:#ffff
}

.pergunta {
    font-size: 3rem;
    text-align: center;
    margin-top: 5vh;
}

.box-resposta {
    margin-top: 2vh;
    width: 70%;
    background-color: #00ff3c;
    height: 5vh;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.box-resposta p {
    margin-left: 2vw;
    font-size: 1.7rem;
}

.box-resposta:hover {
    width: 80%;
    transition: 0.3s;
}

.container-pontos {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pontos {
    width: 50%;
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.pontos p {
    font-size: 2.5rem;
    margin-left: 3vw;
}

.botoes {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botoes button {
    width: 80%;
    height: 6vh;
    cursor: pointer;
}

.estilo-botao p {
    font-size: 2rem;
    font-family: Bebas Neue;
}

.tituloResultado {
    font-size: 4rem;
    text-align: center;
    margin-top: 5vh;
}


/* RANKING */

.tabela{
    width: 60%;
    border-collapse: collapse;
}

.th_table{
    border-bottom: 1px solid black;
    padding: 2%;
}
.tr_table{
    border: 1px solid black;
}
.td_table{
    text-align: center;
    padding: 2% 0;
}

.titulo_ranking {
    font-size: 3rem;
    font-family: Bebas Neue;
}

.conteudo_dois {
    margin-left: 20vw;
    background-color: #ffff;
    border-radius: 30px;
    width: 40vw;
    box-shadow: 10px 1px 40px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.div_retornar_ranking {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_retornar_ranking h1 {
    margin-left: 14vw;
}

.div_retornar_ranking img {
    cursor: pointer;
}

.estilo-desempenho {
    margin-top: 5vh;
    font-size: 2.1rem;
}

.avaliacao_texto {
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

.div_grafico {
    margin-top: 10vh;
    margin-left: 20vw;
    background-color: #ffff;
    border-radius: 30px;
    width: 40vw;
    box-shadow: 10px 1px 40px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}