@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;300&family=Roboto:wght@100&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Bebas Neue', cursive;
}

  header {
    background-image: url("../Assets/backgrounds/vecteezy_textured-crumpled-black-paper-background_6893584_325.jpg");
    background-size: cover;
    padding: 20px 0;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.70);
    border-bottom: 5px solid #00ff3c;
  }


  .first-main {
    height: 500vh;
    width: 100%;
    background-image: url("../Assets/backgrounds/view-of-white-crumpled-paper.jpg");
    background-size: cover;
}

  .container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-left: 2vw;
  }

  .textos {
    display: Flex;
    list-style: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
  }

  .textos li {
    display: flex;
    margin: 2px 15px;
    color: #00ff3c;
    padding: 10px;
    align-items: center;
    transition: 0.6s;
    margin-right: 3vw;
}

.textos li:hover {
    padding: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.7);
  }

a{
    text-decoration: none;
    color:#00ff3c;
}

.icone_sessao {
  margin-left: 1vw;
}

/* FOOTER */
.container-global-footer {
  display: flex;
  flex-direction: column;
  background-image: url("../Assets/backgrounds/vecteezy_textured-crumpled-black-paper-background_6893584_325.jpg");
  background-size: cover;
  height:30vh;
}

.footer-superior {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.footer-superior img {
  box-shadow: 0px 5px 4px rgb(0, 0, 0);
  padding: 15px;
  cursor: pointer;
}


.footer-inferior {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  height: 50%;
  margin-left: 4vw;
  border-top: 1px #00ff3c solid;
}

.footer-inferior h2 {
  height: 5vh;
  width: 40%;
  text-align: center;
  margin-top: 10vh;
  color:#00ff3c;
  text-shadow: 5px 1px 5px rgba(0, 0, 0, 1);
}




.icones-sociais{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-top: 7vh;
  margin-right: 2vw;
  cursor: pointer;
}

.icones-sociais img{
  margin-left: 3vw;
}
/* FIM DO FOOTER*/