* {
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 20px;
    justify-content: center;
}

.flip-card {
    background-color: bisque;
}

.flip-card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
transition: transform .6s;
transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front {
    background-color: black;
}

.flip-card-back {
    background-color: rgb(68, 49, 68);
    transform: rotateY('180deg');
}

.flip-card:hover .flip-card_inner {
    transform: rotateY('180deg');
}